.todoname {
  max-width: 300px;
  color: brown;
  font-size: 30px;
}
.tododate {
  color: lightcoral;
  font-size: 25px;
}
.container {
  width: 670px;
  margin-top: 10px;
}

.todoname::-webkit-scrollbar {
  display: none;
}
.row {
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
  background-color: whitesmoke;
  
}
